{% extends "base.html" %}

{% block title %}
    Activation complete
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 col-lg-5 col-xl-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title text-danger">Error</h2>
                    <p class="card-text text-danger">{{ activation_error.message }}</p>
                    <a href="{% url 'index' %}" class="btn btn-primary">Back to website</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}