{% extends 'accounts/profile.html' %}

{% block profile_list %}
    {% include "profile_menu.html" with active="avatar" %}
{% endblock profile_list %}

{% block profile_content %}
    <form method="POST" style="max-width: 300px;" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{field.auto_id}}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
                <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Set avatar</button>
    </form>
{% endblock profile_content %}