{% extends 'accounts/profile.html' %}

{% block profile_list %}
    {% include "profile_menu.html" with active="password_change" %}
{% endblock profile_list %}

{% block profile_content %}
    <form action="{% url 'password_change' %}" method="POST" style="max-width: 300px;">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <label class="form-label" for="{{field.auto_id}}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
                <div class="form-text text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
        <button class="btn btn-primary" type="submit">Update password</button>
    </form>
{% endblock profile_content %}