{% extends "base.html" %}

{% block title %}
    Profile
{% endblock title %}

{% block media %}
    {{ form.media }}
{% endblock media %}

{% block content %}
<div class="container">
    {% include "navbar.html" %}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <div class="row article-header mb-3">
                    <div class="col-12 col-sm-6">
                        <div>Author: {{ article.author.username }}</div>
                    </div>
                    <div class="col-12 col-sm-6 text-end">
                        <div>Publication date: {{ article.pud_date|date:"m.d.y" }} at {{ article.pud_date|date:"H:i" }}</div>
                    </div>
                </div>
                <h4 class="card-title">
                    {{ article.title }}
                </h4>
                <div>
                    {% for tag in article.tags.names %}
                        <a href="#">{{tag}}</a>
                    {% endfor %}
                </div>
                {{ article.content|safe }}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}