{% extends "base.html" %}

{% block title %}
    Main
{% endblock title %}

{% block content %}
<div class="container">
    {% include "navbar.html" %}
    {% if messages %}
    {% for message in messages %}
        {% if message.level_tag == 'success' %}
            <div class="row justify-content-center mt-5">
                <div class="col-md-7 col-lg-5 col-xl-4">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col">
        {% for article in article_list %}
            <article>
                <h2><a class="article-title-link" href="#">{{ article.title }}</a></h2>
                {{ article.preview|safe }}
                <p>{{ article.author.username }}</p>
            </article>
        {% endfor %}
    </div>
</div>
</div>

{% endblock content %}