{% extends "base.html" %}

{% block title %}
    Main
{% endblock title %}

{% block content %}
<div class="container">
    {% include "navbar.html" %}
    {% if messages %}
    {% for message in messages %}
        {% if message.level_tag == 'success' %}
            <div class="row justify-content-center mt-5">
                <div class="col-md-7 col-lg-5 col-xl-4">
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="row justify-content-center">
    <div class="col-8">
        {% for article in article_list %}
            <article>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="card-title">
                            <h3><a class="article-title-link" href="{% url 'article' id=article.id %}">{{ article.title }}</a></h3>
                        </div>
                        {{ article.preview|safe }}
                        <div class="mb-3">
                            <a class="btn btn-outline-primary" href="{% url 'article' id=article.id %}" role="button">Read more</a>
                        </div>
                        <div class="row article-preview-footer">
                            <div class="col-12 col-sm-6">
                                <div>Author: {{ article.author.username }}</div>
                            </div>
                            <div class="col-12 col-sm-6 text-end">
                                <div>Publication date: {{ article.pub_date|date:"m.d.y" }} at {{ article.pub_date|date:"H:i" }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
</div>
</div>

{% endblock content %}