html, body {
    height: 100%;
}

body {
    background: #fdfdf1;
}

.blog-navbar {
  border-bottom: 1px solid rgba(0,0,0, 0.175);
  border-left: 1px solid rgba(0,0,0, 0.175);
  border-right: 1px solid rgba(0,0,0, 0.175);
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}

.article-title-link {
  text-decoration: None;
}

.article-preview-footer,
.article-header {
  color: #adb5bd;
}
.options_dropdown {
  text-decoration: none;
}
.options_dropdown::after {
  border: none;
}

.avatar-wrapper {
  max-width: 200px;
  color: #bdbbbb;
}

.footer {
  background: #f8f9fa;
  color: #adb5bd;
  border-top: 1px solid rgba(0,0,0, 0.175);
}

.comment_header {
  background: #eee4dc;
  font-size: 20px;
}

.comment_header_user {
  background: #aecae1;
}

.comment_date {
  font-size: 16px;
  color: #a8a6a6;
}

.article_tag {
  text-decoration: none;
}

.article_tag:not(:last-child):after {
  content: ', ';

}